.calendar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;

    &__container {
        display: flex;
        min-width: 90%;
        min-height: 20vh;
        border: 1px solid green;
        background: #474747;
        &--day {
            flex: 1;
            display: flex;
            flex-direction: column;
            border-right: 1px solid white;
            position: relative;
            &__header, &__event {
                display: flex;
                justify-content: center;
            }
            &__header {
                background: $darkgrey;;
                color: white;
                text-transform: uppercase;
                padding: 10px 0;
                h4 {
                    font-weight: 100;
                }
            }
            &__event {
                background: lightcoral;
                color: $darkgrey;
                margin: 15px 11px;
                font-size: 17px;
                padding: 5px 0;
                flex-direction: column;
                align-items: center;
                .edits {
                    align-self: stretch;
                    display: flex;
                    justify-content: center;
                    padding: 10px 0;
                    & > * {
                        cursor: pointer;
                    }
                    & > *:first-child {
                        margin-right: 10px;
                    }
                }
            }
            &__add {
                align-self: center;
                position: absolute;
                bottom: -35px;
                background: none;
                border: none;
                cursor: pointer;
                outline: none;
                i {
                    font-size: 20px;
                }
            }
            &__edit {
                margin: 10px 0;
                form {
                    display: flex;
                    align-items: center;
                    input {
                        border-radius: 10px;
                        border: none;
                        padding: 5px 8px;
                    }
                    button {
                        border: none;
                        background: none;
                        color: $darkgrey;
                        margin-left: 5px;
                        cursor: pointer;
                        outline: none;
                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

    }
}